%p 
  = link_to "&laquo; Back to Members", members_path

- semantic_form_for @member do |form|
  - form.inputs do
    = form.input :name
    = form.input :email
    = form.input :billing_notes
    = form.input :membership_level
    = form.input :primary_industry
    = form.input :dormant, :label => "Dormant?" 
  = form.buttons