%table{:class => table_style, :id => "wide" }
  - members.each do |member|
    %tr.member
      %td.level 
        = member.membership_level_name
      %td.name
        = link_to "#{member.name}", member_path(member)
      %td.email
        = link_to "#{member.email}", "mailto:#{member.email}"
