
%table{:border => 1, "cellpadding" => 5}
  %tr
    %td
      = "Total Members: #{@member_metrics.total_count}"
    %td 
      = "F #{@member_metrics.fulltime}"
    %td 
      = "L #{@member_metrics.lite}"
    %td 
      = "B #{@member_metrics.basic}"

%h1 Members

%table{:border => 1, "cellpadding" => 5}
  %tr
    %td{:colspan => 3, "align" => "center"}
      = "Active Members: #{@member_metrics.active}"
  %tr
    %td 
      = "Full: #{@member_metrics.fulltime_active}"
    %td 
      = "Lite: #{@member_metrics.lite_active}"
    %td 
      = "Basic: #{@member_metrics.basic_active}"

= member_table(@active_members, "active")

%h3 Dormant Members

%table{:border => 1, "cellpadding" => 5}      
  %tr
    %td{:colspan => 3, "align" => "center"}
      = "Inactive Members: #{@dormant_members.length}"
  %tr    
    %td 
      = "Full: #{@member_metrics.fulltime_dormant}"
    %td 
      = "Lite: #{@member_metrics.lite_dormant}"
    %td 
      = "Basic: #{@member_metrics.basic_dormant}"

= member_table(@dormant_members, "dormant")

%p 
  = link_to "Add a Member", new_member_path
