%h1 Members

%p 
  = "Total Members: #{@active_members.length + @dormant_members.length}<br/>"
  = "Active: #{@active_members.length}<br />"
  = "Inactive: #{@dormant_members.length}"
  

= member_table(@active_members, "active")

%h3 Dormant Members

= member_table(@dormant_members, "dormant")

%p 
  = link_to "Add a Member", new_member_path
