%h1 Members

%table{:border => 1, "cellpadding" => 5}
  %tr
    %td
      = "Total Members: #{@member_metrics.total_count}"
    %td 
      = "F #{@member_metrics.fulltime}"
    %td 
      = "L #{@count_lite_active_members + @count_lite_inactive_members}"
    %td 
      = "B #{@count_basic_active_members + @count_basic_inactive_members}"
  %tr
    %td
      = "Active: #{@active_members.length}"
    %td 
      = "F #{@member_metrics.fulltime_active}"
    %td 
      = "L #{@count_lite_active_members}"
    %td 
      = "B #{@count_basic_active_members}"
  %tr
    %td
      = "Inactive: #{@dormant_members.length}"
    %td 
      = "F #{@member_metrics.fulltime_dormant}"
    %td 
      = "L #{@count_lite_inactive_members}"
    %td 
      = "B #{@count_basic_inactive_members}"
    
= member_table(@active_members, "active")

%h3 Dormant Members

= member_table(@dormant_members, "dormant")

%p 
  = link_to "Add a Member", new_member_path
