%h1 Members
%p 
  %strong Welcome to the IndyHall Member Manager.

%table{:border => 1, "cellpadding" => 5}
  %tr
    %td{:colspan => 3, "align" => "center"}
      %strong
        = "Total Current Members: #{@member_metrics.total_count}"
  %tr
    %td 
      = "Full Time: #{@member_metrics.fulltime}"
    %td 
      = "Lite: #{@member_metrics.lite}"
    %td 
      = "Basic: #{@member_metrics.basic}"

%h2 Members #{ link_to "Add a Member", new_member_path }

%table{:border => 1, "cellpadding" => 5}
  %tr
    %td{:colspan => 3, "align" => "center"}
      %strong
        = "Total Active Members: #{@member_metrics.active}"
  %tr
    %td 
      = "Full Time: #{@member_metrics.fulltime_active}"
    %td 
      = "Lite: #{@member_metrics.lite_active}"
    %td 
      = "Basic: #{@member_metrics.basic_active}"

= member_table(@active_members, "active")

%h3 Dormant Members

%table{:border => 1, "cellpadding" => 5}      
  %tr
    %td{:colspan => 3, "align" => "center"}
      %strong
        = "Total Inactive Members: #{@dormant_members.length}"
  %tr    
    %td 
      = "Full Time: #{@member_metrics.fulltime_dormant}"
    %td 
      = "Lite: #{@member_metrics.lite_dormant}"
    %td 
      = "Basic: #{@member_metrics.basic_dormant}"

= member_table(@dormant_members, "dormant")
