%h1 
  ="#{@member.name}'s Profile"

%p 
  = link_to "&laquo; Back to Members", members_path

  
- if @member.dormant
  %p 
    = "#{@member.name} is currently dormant"

%p 
  ="#{@member.membership_level_name} Member"

%p 
  ="Name: #{@member.name}"
%p 
  ="Email: #{@member.email}"
%p 
  Billing Notes:<br />
  = @member.billing_notes

%p
  ="Primary Industry: #{@member.primary_industry}"

%p
  =link_to "Edit Member Info", edit_member_path(@member)

